.env
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.idea
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
environment/**/.env
.sh
*.sh
buf-Linux-x86_64
buf
node_modules
package-lock.json
.uml
*.bat
/.uml/
.vscode/*
.vscode/launch.json
yarn.lock
build.sh
config.yaml
vendor